$primary: #172340
$secondary: #258EA6

// Reset 
*
  margin: 0px
  font-family: "Roboto"

// Font

.primary 
  color: $primary

.white 
  color: white

h1, h2, h3, h4, h5, h6, p, b, i 
  margin: 0px
  padding: 0px

h1 
  font-family: Roboto
  font-style: normal
  font-weight: bold
  font-size: 47px
  line-height: 149%

h2 
  font-family: Roboto
  font-style: normal
  font-weight: bold
  font-size: 39px
  line-height: 149%

.lead 
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 145%
  letter-spacing: -0.01em

ul 
  margin: 0
  padding: 0
  margin-left: -8px

li 
  list-style: none
  font-family: Roboto
  font-style: normal
  font-weight: 500
  font-size: 28px
  line-height: 33px
  letter-spacing: -0.01em

li::before
  content: "◼︎"
  font-size: 40px
  vertical-align: middle
  line-height: 33px

// Margins
.left
  margin-left: 6rem
.top
  margin-top: 6rem
.right
  margin-right: 6rem
.bottom
  margin-bottom: 6rem          
.mymargins
  padding: 6rem

// Layout
.layout 
  position: relative
  .grid 
    display: grid
    grid-template-areas: "head image" "main image"
    grid-template-rows: 80px 85vh
    grid-template-columns: 60% 1fr
    & header 
      grid-area: head
    .text 
      grid-area: main
      padding-left: 6rem
      padding-right: calc(1*6rem)
      display: flex
      flex-direction: column
      justify-content: center
      * 
        margin: 20px 0px
      h1, .lead 
        max-width: 700px
    .image 
      grid-area: image
      background-color: $primary
      background-size: cover
      background-position: center

// Hero
.hero
  &.dark
    background-color: $primary
    color: white
    header
      a 
        color: white
    .primary
      color: white
  // Logo

  .logo h1 
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 30px
    line-height: 35px
    letter-spacing: -0.01em

// Header
header 
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 0px
  width: calc(100% - 6rem - 6rem)
  margin: 0px 6rem
  a 
    text-decoration: none
    color: $primary
  nav 
    display: flex
    flex-direction: row
    align-items: flex-start
    gap: 16px
    a 
      color: var(--primary)
      opacity: 0.6
      font-family: Roboto
      font-style: normal
      font-weight: bold
      font-size: 14px
      line-height: 14px
      letter-spacing: -0.01em
      text-decoration: none
      & .active, &:hover, &[aria-current="page"]
        opacity: 1

// Footer
footer 
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: 6rem
  background-color: $primary
  color: white
  main 
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start


// Banner
.banner 
  background: $primary
  display: grid
  grid-template-areas: "left right"
  grid-template-columns: 60% 1fr
  .left 
    grid-area: left
    padding: 6rem
  img 
    width: 100%
  .right 
    grid-area: right
    padding: 6rem
    padding-left: 0px
    display: flex
    flex-direction: column
    justify-content: center
    gap: 20px

@media only screen and (max-width: 900px) 
  .banner 
    grid-template-areas: "left" "right"
    grid-template-columns: auto
    .right 
      padding: 6rem
      
// Carousel
.carousel
  display: grid
  grid-template-areas: "left right"
  grid-template-columns: 60% 1fr
  .text 
    grid-area: left
    padding: 6rem
    display: flex
    flex-direction: column
    justify-content: center
    gap: 20px
  .textslider 
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    padding: 40px 20px
    border-top: 1px solid var(--primary)
    position: relative
    margin-top: 48px
    width: fit-content
    .item 
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      opacity: 0.6
      width: 200px
      height: 125px
      position: relative
      cursor: pointer
      &:hover, &.active 
        opacity: 1
      &.active::before 
        content: ""
        position: absolute
        top: -44.5px
        width: 100%
        border: 4px solid $secondary
  
  .imagesliderwrapper 
    grid-area: right
    padding: var(--frame)
    padding-left: 0px
    position: relative
  .imageslider 
    position: relative
    width: 100%
    padding-top: 100%
    overflow: hidden
    img 
      position: absolute
      width: 100%
      height: auto
      top: 0px
      left: 0px
  
  @media only screen and (max-width: 900px) 
    .carousel 
      grid-template-areas: "left" "right"
      grid-template-columns: 100%
      .textslider 
        display: none
      .imagesliderwrapper 
        padding: 0
        margin-bottom: 40px
    
  // Map

// News
.news 
  display: flex
  position: relative
  flex-direction: row
  padding: 0px 6rem
  gap: 40px
  margin-bottom: 80px
  .left 
    width: 65%
    position: relative
  .right 
    width: 35%
    position: relative
    display: flex
    flex-direction: column
    gap: 16px
  article.small 
    display: flex
    gap: 16px
    img
      width: 150px
      height: 150px
  article  
    img
      width: 100%
      height: auto
    main 
      margin-top: 24px
      display: flex
      flex-direction: column
      gap: 16px
  .dach
    font-family: Roboto
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 20px
    display: flex
    align-items: center
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #258EA6
  .headline 
    font-family: Roboto
    font-style: normal
    font-weight: 900
    font-size: 24px
    line-height: 36px
    color: #1D1D1D
  .lead 
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 149%
    color: rgba(23, 35, 64, 0.6)


.news .small .headline
  font-family: Roboto
  font-style: normal
  font-weight: 900
  font-size: 16px
  line-height: 21px
  color: #1D1D1D

.news .more 
  font-family: Roboto
  font-style: normal
  font-weight: 900
  font-size: 12px
  line-height: 193.9%
  text-decoration-line: underline
  text-transform: uppercase
  color: #1D1D1D

@media only screen and (max-width: 900px) 
  .news 
    flex-direction: column
    .left, .right 
      width: 100%
    
// Button

a.button
  text-decoration: none
  padding: 16px 24px
  font-weight: bold
  font-size: 16px
  line-height: 193.9%
  letter-spacing: -0.01em
  text-transform: uppercase
  color: $primary
  width: max-content
  &.primary
    background: $primary
    color: white
  &.secondary
    background: $secondary
    color: white
  &.white
    background: white
    color: $primary