@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap')

$primary: #172340
$secondary: #258EA6
$mymargin: 6rem

// Breakpoints
$phone: 700px
$mymarginphone: 1rem
$tablet: 1024px



// Reset 
*
  margin: 0px
  font-family: "Roboto"

// Font

.primary 
  color: $primary

.white 
  color: white

h1, h2, h3, h4, h5, h6, p, b, i 
  margin: 0px
  padding: 0px

h1 
  font-family: Roboto
  font-style: normal
  font-weight: bold
  font-size: 47px
  line-height: 149%
  @media screen and (max-width: $phone)
    font-size: 20px

h2 
  font-family: Roboto
  font-style: normal
  font-weight: bold
  font-size: 39px
  line-height: 149%
  @media screen and (max-width: $phone)
    font-size: 18px

.lead 
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 145%
  letter-spacing: -0.01em
  @media screen and (max-width: $phone)
    font-size: 16px

ul 
  margin: 0
  padding: 0
  margin-left: -8px

li 
  list-style: none
  font-family: Roboto
  font-style: normal
  font-weight: 500
  font-size: 28px
  line-height: 33px
  letter-spacing: -0.01em
  @media screen and (max-width: $phone)
    font-size: 20px
  

li::before
  content: "◼︎"
  font-size: 40px
  vertical-align: middle
  line-height: 33px
  @media screen and (max-width: $phone)
    font-size: 30px

// Margins
.left
  margin-left: $mymargin
  @media screen and (max-width: $phone)
    margin-left: $mymarginphone
.top
  margin-top: $mymargin
  @media screen and (max-width: $phone)
    margin-top: $mymarginphone
.right
  margin-right: $mymargin
  @media screen and (max-width: $phone)
    margin-right: $mymarginphone
.bottom
  margin-bottom: $mymargin
  @media screen and (max-width: $phone)
    margin-bottom: $mymarginphone          
.mymargins
  padding: $mymargin
  @media screen and (max-width: $phone)
    padding: $mymarginphone

// Layout
.layout 
  position: relative
  .grid 
    display: grid
    grid-template-areas: "head image" "main image"
    grid-template-rows: 80px 85vh
    grid-template-columns: 60% 1fr
    @media screen and (max-width: $phone)
      grid-template-areas: "head" "image" "main"
      grid-template-rows: auto auto
      grid-template-columns: auto auto
    & header 
      grid-area: head
    .text 
      grid-area: main
      padding-left: $mymargin
      padding-right: $mymargin
      display: flex
      flex-direction: column
      justify-content: center
      @media screen and (max-width: $phone)
        padding-left: $mymarginphone 
        padding-right: $mymarginphone
      * 
        margin: 20px 0px
        @media screen and (max-width: $phone)
          margin: 8px 0px
      h1, .lead 
        max-width: 700px
    .image 
      grid-area: image
      background-color: $primary
      background-size: cover
      background-position: center
      @media screen and (max-width: $phone)
        height: 300px

// Hero
.hero
  &.dark
    background-color: $primary
    color: white
    header
      a 
        color: white
    .primary
      color: white
  .imageslider
    width: 100%
    height: 100%
    position: relative
    overflow: hidden
    img
      height: 100%
      position: absolute
  // Logo

  .logo h1 
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 30px
    line-height: 35px
    letter-spacing: -0.01em

// Header
.hero.dark .layout header nav
  background: $primary

header 
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 0px
  margin: 0px $mymargin
  gap: 24px
  @media screen and (max-width: $phone)
    margin: 0px $mymarginphone
  a 
    text-decoration: none
    color: $primary
  nav 
    display: flex
    flex-direction: row
    align-items: flex-start
    gap: 16px
    background: white
    padding: 1rem
    z-index: 1
    @media screen and (max-width: $phone)
      display: none
    a 
      color: var(--primary)
      opacity: 0.6
      font-family: Roboto
      font-style: normal
      font-weight: bold
      font-size: 14px
      line-height: 14px
      letter-spacing: -0.01em
      text-decoration: none
      & .active, &:hover, &[aria-current="page"], &[aria-current]:not([aria-current="false"])
        opacity: 1

// Footer
footer 
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: $mymargin
  background-color: $primary
  color: white
  @media screen and (max-width: $phone)
    padding: $mymarginphone
  main 
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    @media screen and (max-width: $phone)
      flex-direction: column


// Banner
.banner 
  background: $primary
  display: grid
  grid-template-areas: "left right"
  grid-template-columns: 60% 1fr
  @media screen and (max-width: $phone)
    grid-template-areas: "left" "right"
    grid-template-columns: 100% 100%
  .left 
    grid-area: left
    padding: $mymargin
    padding-left: 0px
    &.textonly
      padding-top: 40px
      padding-bottom: 40px
      @media screen and (max-width: $phone)
        padding: 16px
      h1
        text-align: right
        @media screen and (max-width: $phone)
          text-align: center
    @media screen and (max-width: $phone)
      padding: $mymarginphone  
      margin: 0px 
  img 
    width: 100%
  .right 
    grid-area: right
    padding: $mymargin
    padding-left: 0px
    display: flex
    flex-direction: column
    justify-content: center
    gap: 20px
    &.textonly
      padding-top: 40px
      padding-bottom: 40px
      @media screen and (max-width: $phone)
        padding: 8px
        align-items: center
    @media screen and (max-width: $phone)
      padding: $mymarginphone
      margin: 0px
      gap: 16px
      
.banner.nr1
   background: lighten($primary, 80%)
      
// Carousel
.carousel
  &.page
    display: grid
    grid-template-areas: "left right"
    grid-template-columns: 60% 1fr
    position: relative
    @media screen and (max-width: $phone)
      grid-template-areas: "left" "right"
      grid-template-columns: auto auto
    .text
      grid-area: left
      padding: $mymargin
      display: flex
      flex-direction: column
      justify-content: center
      gap: 20px
      @media screen and (max-width: $phone)
        padding: $mymarginphone
        gap: 16px
        width: 100%
  &.single
    .text.single
      padding: 0px
      margin: 0px
      padding-left: 0px
  .textslider 
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    padding: 40px 20px
    border-top: 1px solid var(--primary)
    position: relative
    margin-top: 48px
    width: fit-content
    @media screen and (max-width: $phone)
      display: none
    .item 
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      opacity: 0.6
      width: 200px
      height: 125px
      position: relative
      cursor: pointer
      &:hover, &.active 
        opacity: 1
      &.active::before 
        content: ""
        position: absolute
        top: -44.5px
        width: 100%
        border: 4px solid $secondary
  
  .imagesliderwrapper 
    grid-area: right
    padding: $mymargin
    padding-left: 0px
    position: relative
  .imageslider 
    position: relative
    width: 100%
    padding-top: 100%
    overflow: hidden
    img 
      position: absolute
      width: 100%
      height: auto
      top: 0px
      left: 0px
    
// Map
.kontakt
  height: 100vh
  position: relative
  display: flex
  flex-direction: column
  alignItems: center
  @media screen and (max-width: $phone)
    height: auto
  .content
    padding: 40px
    background: white
    width: fit-content
    display: flex
    flex-direction: column
    alignItems: center
    gap: 20px
    margin: 80px
    position: relative
    @media screen and (max-width: $phone)
      padding: $mymarginphone
      margin: 0px
  .map
    position: absolute
    width: 100%
    height: 100%
    z-index: -1
    @media screen and (max-width: $phone)
      position: relative
      z-index: 0
      width: 100%
      height: 500px


// News
.news 
  display: flex
  position: relative
  flex-direction: row
  padding: 0px $mymargin
  gap: 40px
  margin-bottom: 80px
  @media screen and (max-width: $phone)
      padding: 0px $mymarginphone
  .articles-small
    gap: 20px
    display: flex
    flex-direction: column
  .left 
    width: 65%
    position: relative
  .right 
    width: 35%
    position: relative
    display: flex
    flex-direction: column
    gap: 16px
  article.small 
    display: flex
    gap: 16px
    flex-direction: row
    align-items: center
    img
      width: 150px
      height: 150px
      margin-bottom: 0px
      @media screen and (max-width: $phone)
        width: 80px
        height: 80px
  article  
    img
      width: 100%
      height: auto
      margin-bottom: 24px
    main 
      display: flex
      flex-direction: column
      gap: 16px
      @media screen and (max-width: $phone)
        gap: 8px
  .dach
    font-family: Roboto
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 20px
    display: flex
    align-items: center
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #258EA6
    @media screen and (max-width: $phone)
      font-size: 10px
      line-height: 100%
  .headline 
    font-family: Roboto
    font-style: normal
    font-weight: 900
    font-size: 24px
    line-height: 36px
    color: #1D1D1D
  .lead 
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 149%
    color: rgba(23, 35, 64, 0.6)


.news .small .headline
  font-family: Roboto
  font-style: normal
  font-weight: 900
  font-size: 16px
  line-height: 21px
  color: #1D1D1D
  @media screen and (max-width: $phone)
      font-size: 14px
      line-height: 120%

.news .more 
  font-family: Roboto
  font-style: normal
  font-weight: 900
  font-size: 12px
  line-height: 193.9%
  text-decoration-line: underline
  text-transform: uppercase
  color: #1D1D1D
  @media screen and (max-width: $phone)
    display: none

@media only screen and (max-width: 900px) 
  .news 
    flex-direction: column
    .left, .right 
      width: 100%
    
// Button
a
  color: inherit
  text-decoration: none
a.button
  text-decoration: none
  padding: 16px 32px
  font-weight: bold
  font-size: 16px
  line-height: 100%
  letter-spacing: -0.01em
  text-transform: uppercase
  color: $primary
  display: flex
  width: max-content
  &.primary
    background: $primary
    color: white
  &.secondary
    background: $secondary
    color: white
  &.white
    background: white
    color: $primary